<div>
  <app-nav-bar></app-nav-bar>
</div>
<div class="contact">
  <div class="head">Contact Us</div>
  <div class="title">Happy to hear from you!</div>
  <div class="titleSubtext">Reach out to us for any inquiry</div>
  <div class="address">
    <pre style="margin-bottom:0">
Address
E-202, Tagore Bhawan,
Raj Kumar Goel Institute of Technology,
5th km Stone Road, Delhi Meerut Highway,
Ghaziabad, 201003
    </pre>
  </div>
  <div class="contactUs">
    <div>Phone</div>
    <div>+91 92058 47150</div>
  </div>
  <div class="contactUs">
    <div>Email</div>
    <div>patelanurag.0411@gmail.com</div>
  </div>
</div>