<div>
   <div class="header">
      <div class="navBar">
         <ul>
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#feedback">Feedback</a></li>
         </ul>
      </div>
   </div>
   <div class="body">
      <app-home></app-home>
   </div>
   <div class="footer">
      <hr class="line">
      <div>
         <h6>Contact Us:</h6>
         <div>+91 9205847150</div>
         <div>patelanurag.0411@gmail.com</div>
      </div>
   </div>
</div>
 
