.header{
  margin-top: 5px;
}

.navBar{
  padding: 1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.footer{
  width: 100%;
  text-align: center;
}

.line{
  width: 80%;
  height: 1px;
  border-radius: 1px;
  background-color: #b6b6b6;
}

h6{
  margin: 0px;
}