<div>
  <app-nav-bar></app-nav-bar>
</div>
<div class="home" [hidden]="org">
  <div class="infoBanner">
    <h4 class="title">About</h4>
    <p>
      A quiz is a game which can also be called a mind sport wherein the players, 
      either as individuals or in teams attempt to answer questions posed to them correctly. 
      It improves or expands one’s knowledge of things, either general or in specific area and is designed to promote, 
      a fun way to study and in the process help improve one’s general knowledge.
    </p>
    <p>
      Quiz competitions enables students to think from different angles or simply ‘to think out of the box’. 
      It promotes a healthy debate amongst participants in order to learn from each other and even help build the one’s soft skills.
    </p>
    <p>Here, at ___ , you can test your knowledge and train your brain through the quizzes available....</p>
    <p class="wishes">All the best...</p>
  </div>
  <div class="listShow">
    <h5 class="title">Ongoing Quizzez</h5>
    <div>Choose Your Quiz:</div>
    <div class="row">
      <div *ngFor="let list of listDetail?.exam" class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div *ngIf="listDetail && listDetail.exam">
          <a [routerLink]="['/Quiz', list.organisation]">
            <div class="card">
              <!-- <div class="cardID">ID: {{list.id}}</div> -->
              <div class="cardDetail">
                <div class="cardData">{{list.organisation}}</div>
                <div class="cardData">{{list.title}}</div>
              </div>
            </div>  
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
