.title{
    text-align: center;
    font-weight: 500;
    color: #38848a;
}

.card{
    width: 30%;
    margin: 0 auto;
    border: 2px solid #25747a;
    border-radius: 4px;
    overflow: hidden; 
    flex-direction: column;
    margin-bottom: 20px;
}

a:hover{
    text-decoration: none;
}

.cardDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    padding: 10px 0;
}

.cardData{
    color: #38848a ;
    font-size: 16px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    [class*="card"] {
      width: 90%;
    }
}