<div>
  <app-nav-bar></app-nav-bar>
</div>
<div class="page" [hidden]="paperCat">
  <h2 class="title">{{categorie?.organisation}}</h2>
  <div class="row">
    <div *ngFor="let cat of categorie?.categories" class="col-sm-12">
      <div *ngIf="categorie && categorie.categories">  
        <a [routerLink]="['Paper',categorie.organisation,cat]">
          <div class="card">
            <div class="cardDetail">
              <div class="cardData">{{cat}}</div>
            </div>
          </div> 
        </a>
      </div>
    </div>
  </div>
</div>
