.container{
    width: 60%;
    height: 100%;
}

.cardModal{
    margin: 10px;
}

.title{
    font-size: 24px;
    text-align: center;
    font-weight: 650;
}

.category{
    font-size: 18px;
    text-align: center;
    font-weight: 550;
    text-decoration: underline;
}

.options{
    padding-left: 2.5em;
}

.option{
    display: block;
}

.buttons{
    text-align: center;
}

.btnSubmit{
    position: relative; 
    background-color: #53C225;
    color: #ffffff;
    font-weight: 450;   
    margin: 5px;
}

.btnClose{
    font-weight: 450;   
    margin: 5px; 
}

.answerTable{
    width: 30%;
    margin: 0 35%;
    margin-top: 20px;
}

.tableHeader{
    font-weight: 500;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px 10px;
}

@media only screen and (max-width: 768px) {
    [class*="container"] {
      width: 100%;
    }
}